# heisenberg.kr login
HEISENBERG_USERNAME_OR_EMAIL=
HEISENBERG_PASSWORD=

# Notion
NOTION_API_KEY=
NOTION_PARENT_PAGE_ID=

# LLM
ANTHROPIC_API_KEY=
OPENAI_API_KEY=

# App
LOG_LEVEL=INFO
APP_ENV=local
